fieldset {
  padding: 10px;
  padding-bottom: 0;
  border: none;
}

fieldset label {
  display: block;
}

.form-text-input {
  padding: 10px;
  border: 2px solid #eee;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}

.form-file-input {
  max-width: 200px;
}

.error {
  padding-top: 5px;
  height: 20px;
}

fieldset span {
  display: none;
}

span.form-checkbox-input {
  display: inline;
  font-size: 12px;
  font-weight: normal;
  padding-left: 5px;
}

label[for='switcher'] input {
  display: none;
}

label[for='switcher'] {
  display: inline-block;
  width: 60px; 
  height: 30px;
  margin: 4px;
  transform: translateY(50%);
  position: relative;
}

label[for='switcher'] span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

label[for='switcher'] span:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #777;
  border-radius: 30px;
  transform: translateX(-30px);
  transition: 0.2s;
}

.form-switch-input:checked + span:before {
  transform: translateX(30px);
  background-color: rgb(90, 82, 142);
}

.form-switch-input:checked + span {
  box-shadow: 0 0 0 2px rgb(90, 82, 142), 0 0 8px rgb(90, 82, 142);
}

.form-switch-input ~ span {
  display: inline;
}