.form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #000;
    border-radius: 20px;
    width: 270px;
    min-height: 350px;
    font-weight: bolder;
}

.submit {
    margin: 0 auto;
    width: 100px;
}

.error {
    color: red;
    font-size: 12px;
    font-weight: 100;
}