.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cards-wrapper {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
