.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #000000;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  position: fixed;
  animation-duration: 0.55s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  z-index: 3;
  animation-duration: 0.55s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  padding: 10px;
  width: 270px;
  min-height: 434px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0px -100% 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}